* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #ffffff;
}

body {
  position: relative;

  font-size: 100%;
  min-height: 100%;
  max-width: 100vw;

  * {
    font-family: inherit;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}
