@use "~@/styles/_variables.scss" as variables;
@use "~@/styles/_common.scss" as common;

.modal-instance {
  width: 600px;
  padding: 20px 16px;

  @include common.res-to-mobile-max {
    max-width: 90vw;
  }
}

.modal-section {
  font-size: 14px;
  color: black;

  padding: 60px 0px 0px 0px;

  @include common.res-to-mobile-max {
    padding: 48px 0px 0px 0px;
  }
}

.modal-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;

  margin-top: 32px;

  & > *:not(:first-child) {
    margin: 0px 0px 0px 8px;
  }
}
