@use "~@/styles/_common.scss" as common;

.product-list {
  margin-top: 52px;

  padding: 0px 0px 100px 0px;

  @include common.res-to-laptop-max {
    margin-top: 0px;
  }
}

.product-action-cart-button {
  position: relative;
  left: -7px;
}
