@use "~@/styles/_variables.scss" as variables;
@use "~@/styles/_common.scss" as common;

$nav-container-spacing-x: calc(3 * #{variables.$token-spacing-xxs});
$item-gap: calc(#{variables.$token-spacing-xxs} * 1);

.main {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 100%;
  height: 64px;

  background-color: #{variables.$token-color-white};
  border-bottom: 1px solid rgb(212, 212, 212);

  overflow: hidden;

  padding: 0px $nav-container-spacing-x;

  @include common.res-to-mobile-max {
    height: 50px;
  }
}

.main-width-provider {
  width: inherit;
  max-width: #{variables.$token-layout-max-width};
  height: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px auto;
}

.headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
}

.headline-text {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #{variables.$token-color-black};
}

.headline-with-side-menus {
  width: calc(
    100% - var(--aside-max-width, 0px) * 2 - #{$nav-container-spacing-x} * 2
  );

  padding: 0 #{$item-gap};
}

.leading-menu-items,
.trailing-menu-items {
  display: flex;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 0;
  width: var(--aside-max-width, auto);
}

.leading-menu-items {
  justify-content: flex-start;

  & > *:not(:first-child) {
    margin: 0px 0px 0px #{$item-gap};
  }
}

.trailing-menu-items {
  justify-content: flex-end;

  & > *:not(:first-child) {
    margin: 0px 0px 0px #{$item-gap};
  }
}
